#result {
  margin: 1.5rem 0px;
  padding: 0.3em;
  background-color: #198754;
  border-radius: 1.5px;
  box-shadow: 2px 2px 1px #040404;
  color: #fff;
  font-weight: bolder;
  font-size: 1rem;
  display: flex;
  text-align: center;
  justify-content: center;
}

.form-cont {
  display: flex;
  align-items: self-end;
}

.form-detail {
  color: #198754;
  font-weight: bold;
  margin-right: 0.5em;
}
