

#result{
    margin: 1.5rem 0px;
    padding: 0.3rem;
    background-color: #198754;
    border-radius: 1.5px;
    box-shadow: 2px 2px 1px #040404;
    color: #fff;
    font-weight: bolder;
    font-size: 1.5rem

}